ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p {
    margin-bottom: 0px;
}
input, button {
    box-shadow: none !important;
}
.navbar-nav .nav-link {
    color: #000000;
    font-size: 16px;
    padding: 0px !important;
}
.nav-item {
    margin-right: 30px;
}
.bg_header {
    background: url(img/bg_header.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    top: 0px;
    right: 0px;
    background-position: top right;
}
.navbar-nav {
    align-items: center;
}
.navbar-collapse {
    justify-content: center;
}
.site-header {
    z-index: 9999;
    padding: 30px 0px;
}
.navbar-nav .nav-link.register-btn {
    background: #F16214;
    border: 1.5px solid #F16214;
    font-size: 13px;
    width: 80px;
    line-height: 25px;
    color: #FFFFFF;
    border-radius: 120px;
    height: 30px;
    text-align: center;
}
.navbar-nav .nav-link:hover {
    color: #F16214;
    text-shadow: 0 0 .65px #F16214, 0 0 .65px #F16214;
}
.navbar-nav .nav-link.register-btn:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    color: white;
}
.title {
    font-weight: bold;
    font-size: 75px;
    line-height: 91px;
    padding-right: 22px;
    color: #000000;
    margin-bottom: 15px;
}
.text {
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
    color: #888888;
}
.social-list li {
    background: rgba(241, 98, 20, 0.15);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    color: #F16214;
    align-items: center;
    justify-content: center;
    margin-right: 23px;
}
.social-list li a:hover{
	background: #F16214;
	text-decoration: none;
	color: white;
}
.social-list li a{
	    color: #F16214;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.start-btn {
      padding: 10px; height: 50px;
    cursor: pointer;
    margin: 40px 0px 0px;
    background: #F16214;
    border-radius: 54px;
    border: none;
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: white;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
}
.start-btn span {
    background: white;
    color: #F16214;
    width: 40px;

        margin-left: 5px;
    height: 40px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.main {
    margin-top: 140px;
}
.info-icon {
    width: 40px;
    height: 40px;
    color: white;
    margin: auto;
    background: #F16214;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.phone-icon {
    background-image: url(img/phone-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.location-icon {
    background-image: url(img/loc-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.qual-icon {
    background-image: url(img/qual-food.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.helthy-icon {
    background-image: url(img/helthy-food.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.fast-icon {
    background-image: url(img/del-food.svg);
    background-repeat: no-repeat;
    background-position: center;
}
.info-list {
    width: 100%;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 22px 52px rgb(0 0 0 / 7%);
    border-radius: 60px 0px;
    padding: 60px 0px;
}
.main .social-list{
	margin-top: 40px;
}
.info-list li {
    width: 100%;
    text-align: center;
    border-right: 1.5px solid #DDDDDD;
}
.header {
    position: relative;
}
.info-list li:last-child {
    border: none;
}
.list-title {
    font-weight: bold;
    font-size: 26px;
    line-height: 19px;
    margin: 16px 0px 0px;
    color: #000000;
}
.list-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 16px;
    color: #888888;
}
.description {
    margin-bottom: 110px;
}
.logo-link {
    position: absolute;
}
.work-block::before {
    content: '';
    background: url(img/sushi_bg.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
}
.title-block p{
    font-weight: bold;
    font-size: 40px;
    margin-top: 6px;
    line-height: 49px;
    margin-bottom: 45px;
    color: #000000;
}
.span-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    color: #F16214;
}
.about_work {
    float: right;
    padding: 158px 0px;
}
.service-list .info-icon {
    background-color: rgba(241, 98, 20, 0.15);
    width: 80px;
    height: 80px;
}
.service-list .list-title {
    margin: 44px 0px 22px;
}
.service-list li {
    text-align: center;
    border: 2px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 60px 0px;
    padding: 72px 20px;
    margin-right: 30px;
}
.service-list li:hover {
    box-shadow: 5px 15px 45px rgba(0, 0, 0, 0.1);
    border: 2px solid white;
}
.service-list li:last-child {
    margin: 0px;
}
.service-list {
    display: flex;
}
.choose-block {
    text-align: center;
        padding: 100px 0px;
}
.product-name{
	font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.product-block{
	margin: 100px 0px;
}

.review-point{
	position: relative;
    font-weight: bold;
    font-size: 11px;
    /* line-height: 13px; */
    color: #000000;
    padding-left: 17px;
}
.review-point:before{
    content: '';
    position: absolute;
    background: url(img/star-icon.svg);
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-repeat: no-repeat;
    bottom: 0px;
}
.orange-btn{
	    background: #F16214;
    border-radius: 50px;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    color: #FFFFFF;
    cursor: pointer;
    padding: 13px 16px;
    border: none;
}
.product-price{
	font-weight: bold;
font-size: 20px;
line-height: 24px;

color: #000000;
}
.price-block{
	    display: flex;
    justify-content: space-between;
    align-items: center;
        margin-top: 12px;
}
.product-info{
	    padding: 14px 20px 50px;
}
.product-list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.product-list li{
	    width: calc(1/3*100% - (1 - 1/3)*30px);
    margin: 0 0 30px;
	background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.07);
border-radius: 50px 0px;
}
.product-image img{
	border-radius: 50px 0px;
    width: 100%;
}
.review-block{
	display: flex;
	justify-content: flex-end;
}
.product-list li:last-child{

}
.product-list .start-btn{
	    margin: 60px auto 0px;
}
.user-photo{
	width: 80px;
	height: 80px;
	border-radius: 50%;
}
.member-info p{
	font-weight: bold;
font-size: 16px;
line-height: 19px;

color: #000000;
}
.member-info span{
	font-size: 13px;
line-height: 16px;


color: #888888;
}
.member-info{
	margin-left: 15px;
}
.member_block{
	    display: flex;
    align-items: center;
    justify-content: center;
}
.review-text{
	font-size: 16px;
line-height: 150%;

text-align: center;

color: #888888;
	margin: 50px 0px 30px;
}
.carousel-control-prev, .carousel-control-next{
    border: 1.5px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 10px;
    color: #F16214;
    width: 50px;
    height: 50px;
    font-size: 21px;
    opacity: 1;
}
.carousel-btn{
position: relative;
    width: 130px;
        margin: auto;
}
.carousel-control-prev:hover, .carousel-control-next:hover{
width: 50px;
height: 50px;


background: #F16214;
border-radius: 10px;
}
.member-review{
	    display: flex;
    align-items: center;
}
.carousel-control-next{
	left: 0;
	right: auto;
}
.carousel-control-prev{
	right: 0;
	left: auto;
}
.carousel-control-next:focus, .carousel-control-prev:focus{
	    color: white;
	    background: #F16214;

}
.title-block{
	text-align: center;
}
.review-client{
	    padding: 100px 0px ;
	    position: relative;
}
.review-client:before{
	content: '';
	top: 32px;
	position: absolute;
	background: url(img/slider_bg.png);
	width: 100%;
	background-repeat: no-repeat;
	height: 100%;
}
.follow-form{
    background: url(img/bg_form.png);
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    background-size: 100%;
    align-items: center;
    height: 293px;


}
.form-image img{
	    position: absolute;
  
    bottom: -60px;
}
.form-image{
	position: relative;
	    height: 100%;
}
.follow-form p{
	font-weight: bold;
font-size: 40px;
line-height: 49px;

color: #FFFFFF;
}
.follow-form span{
	font-size: 16px;
line-height: 150%;
margin: 15px 0px 30px;

display: block;

color: #888888;
}
.form-inline .form-group{
	width: 100%;
	position: relative;
}
.form-inline .form-group input{
	     height: 60px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 13px;
    font-size: 13px;
    padding-right: 140px;
    line-height: 150%;
    color: #CCCCCC;
}
.product-name:hover{
	color: black;
}
.btn-sub{
	    position: absolute;
    right: 0px;
    width: 120px;
    height: 50px;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-size: 16px;
    margin: 5px;
    line-height: 150%;
    color: #FFFFFF;
    background: #F16214;
    border-radius: 13px;
}
.follow-block{
	margin: 100px 0px;
}
.footer .social-list{
	margin-top: 33px;
}
.footer-title{
	margin-bottom: 34px;
	    display: flex;
    align-items: center;
    height: 45px;
}
.open-text{
	line-height: 200%;
}
.footer-title p{
	font-weight: bold;
font-size: 22px;
line-height: 150%;


color: #000000;

}
.footer{
	    background: #F5F5F5;
    padding-top: 106px;
}
.footer-list p, .footer-list a{
	font-size: 16px;
line-height: 200%;


color: #888888;

}
.footer-main{
	display: flex;
	    padding-bottom: 61px;
}
.footer-bottom p{
	font-size: 15px;
line-height: 170%;


color: #888888;

}
.footer-bottom{
	border-top: 1.5px solid #DDDDDD;
	padding: 23px 0px;
	    text-align: center;
}
.footer .form-inline .form-group input{
	height: 50px;
}
.footer .btn-sub{
	height: 40px;
	width: 40px;
}
.footer .form-inline{
	margin-top: 20px;
}
.app-block{
	display: flex;
	background: url(img/bg_banner.png);
	width: 100%;
    height: 100%;
    background-size: 100% 100%;    background-repeat: no-repeat;
}
.load-app{
	margin: 230px 0px;
}
.app-title{
font-weight: bold;
font-size: 40px;
line-height: 49px;
color: #FFFFFF;     margin: 86px 15px;
}

.app-btn{
	width: 220px;
height: 80px;
cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
background: #FFFFFF;
border-radius: 13px;
margin-right: 20px;
}

.app-btn span{
	font-weight: normal;
font-size: 11px;
line-height: 13px;
display: block;
color: #000000;
}
.app-btn p{
    font-weight: 700;
    padding-left: 15px;
    text-align: left;
    line-height: 24px;
    font-size: 20px;
}
.btn-block{
	display: flex;
	margin-top: 50px;
}
.phone-img{
	    position: absolute;
    left: -35px;
    top: -170px;
}
.menu-screen{
	    position: absolute;
    top: -130px;
    right: -70px;
}
.info-list p{
	    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 16px 0px 6px;
}
.info-list .info-text{
	font-size: 13px;
line-height: 16px;


color: #888888;
}
.work-block .title-block{
	text-align: left;
}
.orange-btn:hover, .start-btn:hover, .btn-sub:hover{
	  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
